header, main{
    border: solid 1px black;
    min-height: 100px;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

main{
    min-height: 400px;
}


main table {
    border-collapse: collapse;
    width: 100%;
}

main table th, td {
    border: solid 1px silver;
    padding: 5px;
}

.rename{
    float: right;
    display: inline;
    border: solid 1px silver;
}

.rename div{
    margin: 10px;
}



header div{
    margin: 10px;
}

.err-mess{
    color: red;
}


.d-list{
    margin: 10px 0px;
    border-bottom: 1px solid silver;
}
