.container{
    border: solid 1px black;
    padding: 10px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px black;
    padding: 10px;
}

.row .question{
    width: 35%;
}

.row .answer{
    width: 25%;
}

.row .max-point{
    width: 20%;
}

.row .grade{
    width: 20%;
}

.button{
    text-align: center;
    margin-top:10px;
}